# https://developer.hashicorp.com/nomad/docs/configuration

data_dir = "/var/lib/nomad"

acl {
  enabled = true
}

client {
  enabled = true

  server_join {
    retry_join = [
      {% for server in groups['servers'] %}
      "{{ server }}",
      {% endfor %}
    ]
    retry_max = 3
  }
}
